.historyData h1 {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 60%;
  margin: 5vh auto 0 auto;
}

/* .historyData .print {
  height: 6vh;
  width: 10%;
  font-size: 22px;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #909090;
  border: solid 2px #9095a1;
  margin: 0 auto 6vh;
  border-radius: 4px;
}

.historyData .print:hover {
  background-color: #9095a1;
  color: white;
  border: solid 2px #9095a1;
} */

.PersonelInfoTable {
  width: 80%;
  margin: 8vh auto 10vh;
}

.healthRecordTable {
  width: 80%;
  margin: 10vh auto;
}
