.row {
  border: solid 4px #9095a1;
  width: 85vw;
  margin: 1vh auto;
  border-radius: 8px;
  display: flex;
  flex: row;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  background-color: white;
}

.row .rowButton {
  text-align: center;
  align-self: center;
  margin-right: 3vw;
}

.row .button1 {
  height: 5vh;
  width: 6vw;

  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #e99a01;
  color: white;
  border: none;
  margin-left: 1vw;
  border-radius: 4px;
}

.row .button1:hover {
  background-color: white;
  border: solid 2px #e99a01;
  color: #e99a01;
}

.row .button2 {
  height: 5vh;
  width: 6vw;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #e99a01;
  border: solid 2px #e99a01;
  margin-left: 1vw;
  border-radius: 4px;
}

.row .button2:hover {
  background-color: #e99a01;
  color: white;
  border: solid 2px #e99a01;
}

.row .button3 {
  height: 5vh;
  width: 6vw;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #9095a1;
  border: solid 2px #9095a1;
  margin-left: 1vw;
  border-radius: 4px;
}

.row .button3:hover {
  background-color: #9095a1;
  color: white;
  border: solid 2px #9095a1;
}
